<form [formGroup]="dataSubmissionForm" (ngSubmit)="onSubmit()">
  <p>
    Please use the below field to place your S3 URI to submit data to the
    sBeacon.
  </p>
  <mat-form-field class="w-[800px]">
    <mat-label>Data path</mat-label>
    <input
      matInput
      formControlName="s3path"
      type="text"
      required
      placeholder="s3://my-bucket/data.vcf.gz"
    />
    <mat-error>Must be a valid <strong>JSON</strong> file</mat-error>
  </mat-form-field>
  <br />
  <div class="flex flex-row space-x-[10px]">
    <button
      class="w-[100px]"
      mat-raised-button
      color="primary"
      type="button"
      (click)="dataSubmissionForm.reset()"
    >
      Reset
    </button>
    <button
      class="w-[100px]"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="dataSubmissionForm.invalid"
    >
      Submit
    </button>
  </div>
</form>

<br />
<button mat-raised-button color="primary" class="w-[100px]" (click)="index()">
  Index
</button>
